# Byte-compiled / cache files
__pycache__/
*.py[cod]
src/__pycache__/

# Distribution / packaging
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt

# Virtual environments
.venv/
env/
venv/

# Lock files
uv.lock

# OS files
.DS_Store
Thumbs.db